# 服务配置，设置运行模式，监听端口和最大持续时间
Server:
    RunMode: debug
    HttpPort: 9000
    ReadTimeout: 60
    WriteTimeout: 60
# 应用配置
App:
    DefaultPageSize: 10
    MaxPageSize: 100
    LogSavePath: storage/logs
    LogFileName: app
    LogFileExt : .log
    UPloadPath: storage/uploads
    UPloadServerUrl: http://127.0.0.1:9000/static
    UploadImageMaxSize: 5 # MB
    UploadImageAllowExt:
    - .jpg
    - .jpeg
    - .png
    - .gif
Database:
    Type: postgres
    Host: 127.0.0.1
    Port: 5432
    UserName: postgres
    Password: 26221030
    Database: blog_server
    DBName: blog_server
    TablePrefix: blog_
    Charset: utf8mb4
    ParseTime: true
    MaxIdleConns: 10
    MaxOpenConns: 30

